

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #1C4193;
$secondary: #511A1E;
$danger: #280D0F;
$hover-primary: #1C4193;
$--bs-body-color: white;
$font-family-base: Tahoma;
$light: #5E4A4B;